@inherits LayoutComponentBase


<header>
    <section class="headerImage">
        <img class="indexImage" src="/images/QPC.jpg" alt="Image of qpc building" />
    </section>
    <NavMenu  />
</header>

<div class="container">
    <main role="main" class="pb-0 m-0">
        @Body
    </main>
</div>