
.navbar-brand {
    font-size: 1.1rem;
}

.container {
    background-color: #2c2c4d;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

nav{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border:none;
    height: 1rem;
}