@page "/"
@using System.Diagnostics;
@using QPC.Shared

<PageTitle>Index</PageTitle>
<header class="BannerImageContainer">
    <img class="BannerImage" src="/Images/QPCResizeBannerLogo.jpg" alt="QPC Logo" />
    <div class="InformationContainer col-1">
        <div class="AddressBanner">
            <h2><b>Location: </b></h2>
            <ul>
                <h4>
                <li style="list-style: none;">
                    31 Thuringowa Drive
                </li>
                <li style="list-style: none;">
                    Kirwan, Townsville
                </li>
                <li style="list-style: none;">
                    Queensland 4817
                </li>
                </h4>
            </ul>
        </div>
        <div class="PhoneNumberBanner">
            <h2><b>Contact Us: </b></h2>
            <h3><b>Monday-Friday:</b> 9am-5pm</h3>
            <h4>Phone: <b>07 4723 6344</b></h4>
            <h4>Email: <b>qpcsales@qpc.com.au</b></h4>
        </div>

        <!--<p class="ToDo">
            TO DO TOMMORROW:

            IMPLEMENT LOCATION BUTTON
            OPENING HOURS
            START PUTTING IN TOP BACKGROUND IMAGE
        </p>-->

        <div class="mapContainer">
            <iframe class="googleMapiframe"
                    frameborder="0" style="border:0"
                    referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed/v1/place?key=APIKEY&q=31+Thuringowa+Drive+Kirwan,+Townsville+Queensland+4817+AUSTRALIA"
                    allowfullscreen>
            </iframe>
        </div>

    </div>
</header>
<div class="imageUnderHeaderWrapper">
    <img class="imageUnderHeader" src="/Images/ComputerRepairResize2.jpg"/>
    <img class="imageUnderHeaderPortrait" src="/Images/PhoneRepair.jpg" />
</div>
<h1></h1>

Welcome to your new app.

<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>

<SurveyPrompt Title="How is Blazor working for you?" />
