@page "/"

<PageTitle>Index</PageTitle>

<header class="headerImage align-content-center overflow-hidden">
    <img class="indexImage" src="/images/QPC.jpg" alt="Image of qpc building" />
</header>

<body>
  
<!-- Header with image -->

</body>

