@page "/"
<PageTitle>Index</PageTitle>
<header class="BannerImageContainer">
    <img class="BannerImage" src="/Images/QPCResizeBannerLogo.jpg" alt="QPC Logo" />
    <div class="InformationContainer col-1">
        <div class="AddressBanner">
            <h2><b>Location: </b></h2>
            <ul>
                <h4>
                <li style="list-style: none;">
                    31 Thuringowa Drive
                </li>
                <li style="list-style: none;">
                    Kirwan, Townsville
                </li>
                <li style="list-style: none;">
                    Queensland 4817
                </li>
                <li style="list-style: none;">
                    AUSTRALIA
                </li>
                </h4>
            </ul>
        </div>
        <div class="PhoneNumberBanner">
            <h2><b>Contact Us: </b></h2>
            <h4>Phone: <b>07 4723 6344</b></h4>
            <h4>Email: <b>qpcsales@qpc.com.au</b></h4>
        </div>

        <p class="ToDo">
            TO DO TOMMORROW:

            IMPLEMENT LOCATION BUTTON
            OPENING HOURS
            START PUTTING IN TOP BACKGROUND IMAGE
        </p>




    </div>
</header>
<div class="imageUnderHeaderWrapper">
    <img class="imageUnderHeader" src="/Images/ComputerRepairResize2.jpg"/>
    <img class="imageCover" src="/Images/Black_flag.svg.png" />
</div>
<h1>Hello, world!</h1>

Welcome to your new app.

<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>

<SurveyPrompt Title="How is Blazor working for you?" />

